@{
    ViewBag.Title = "FAQ";
}
<h2 id="faq_head">FAQ</h2>
<p>Do you have additional questions? Check out the answers below to some of our frequently asked questions or give us a call!</p>

<section id="faq">
    <p><strong>Am I obligated to take your offer?</strong><br/>
    Absolutely not. If our offer does not meet your needs, you are under no obligation to accept.</p>

    <p><strong>My house needs work. Is that OK?</strong><br/>
    Yes! We buy houses in all conditions. No repair is too big for us to handle.</p>

    <p><strong>What types of properties do you purchase?</strong><br/>
    We buy all types of properties including single family, multi-family, apartment buildings, condos, and commercial properties.</p>

    <p><strong>Are there any other comissions/fees?</strong><br/>
    No. There are simply no additional commissions or fees. This is what makes us different from a traditional home sale. </p>

    <p><strong>Will you be listing my property on the MLS or buying it?</strong><br />
    Simply put, we want to purchase your house. We buy directly from homeowners for cash in as-is condition.</p>

    <p><strong>Will you give me a fair offer for our home?</strong><br />
    If we didn't give homeowners a fair price for their homes, no one would ever sell to us. We provide a fair market offer based on 
    needed repairs, current condition, and the values of homes that are sold in your neighborhood or area.</p>
</section>