@model CarDealership.UI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}
<div class="row" id="space"></div>
<h2>Contact Us</h2>
<div class="row" id="space"></div>
<div class="container">
    <div class="row">
        <div class="col-xl-5">
            @using (Html.BeginForm("ChangePasswordAsync", "Admin", FormMethod.Post))
            {
            <div class="form-group">
                <div>Old Password</div>
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
                <div class="form-group">
                    <div>Password</div>
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div>Confirm Password</div>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" id="submit" class="btn btn-primary" onclick="location.href='@Url.Action("ChangePasswordAsync")'" />
                </div>
            }
        </div>
    </div>
</div>

