
@{
    ViewBag.Title = "Reports";
}

<div class="row" id="space"></div>

<h2>Reports</h2>

<div class="row" id="space"></div>

<div>@Html.ActionLink("Inventory Report", "InventoryReport")</div>
<div>@Html.ActionLink("Sales Report", "SalesReport")</div>